--
-- PostgreSQL database dump
--

\restrict oXwe7iHGsWTpIh3Je7016RcadRRZS35TlWmDxDcbKX6aawbmrDMcdcxTIvasYge

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: atribusi; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.atribusi AS ENUM (
    'PETANI',
    'LOGISTIK',
    'TIDAK_TERBUKTI',
    'NORMAL'
);


--
-- Name: keputusan_serah_terima; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.keputusan_serah_terima AS ENUM (
    'TERIMA',
    'POTONG',
    'TOLAK'
);


--
-- Name: peran_pengguna; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.peran_pengguna AS ENUM (
    'PETANI',
    'PETUGAS',
    'PENERIMA'
);


--
-- Name: status_partisipasi; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.status_partisipasi AS ENUM (
    'TERDAFTAR',
    'TERKUNCI',
    'DIMUAT',
    'SELESAI',
    'BATAL'
);


--
-- Name: status_permintaan; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.status_permintaan AS ENUM (
    'TERBUKA',
    'TERPENUHI_SEBAGIAN',
    'TERPENUHI',
    'KEDALUWARSA'
);


--
-- Name: status_slot; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.status_slot AS ENUM (
    'DIBUKA',
    'TERKUNCI',
    'DIMUAT',
    'JALAN',
    'SELESAI',
    'BATAL'
);


--
-- Name: status_sumber; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.status_sumber AS ENUM (
    'TERVERIFIKASI',
    'ASUMSI'
);


--
-- Name: sumber_posisi; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.sumber_posisi AS ENUM (
    'HP_PENGAWAL',
    'WEBHOOK_VENDOR',
    'SIMULASI'
);


--
-- Name: sumber_telemetri; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.sumber_telemetri AS ENUM (
    'SIMULASI',
    'SENSOR',
    'HP_PETUGAS'
);


--
-- Name: tipe_konfigurasi; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.tipe_konfigurasi AS ENUM (
    'INT',
    'FLOAT',
    'STRING',
    'BOOL'
);


--
-- Name: tipe_penerima; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.tipe_penerima AS ENUM (
    'SPPG',
    'HOREKA',
    'PENGOLAH',
    'PASAR_INDUK'
);


--
-- Name: tipe_titik_kumpul; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.tipe_titik_kumpul AS ENUM (
    'PETANI_UTAMA',
    'GAPOKTAN',
    'KOPERASI',
    'MITRA'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: jejak_posisi; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.jejak_posisi (
    id uuid NOT NULL,
    pengiriman_id uuid NOT NULL,
    lat double precision,
    lng double precision,
    waktu timestamp with time zone NOT NULL,
    sumber public.sumber_posisi NOT NULL
);


--
-- Name: kiriman; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kiriman (
    id uuid NOT NULL,
    petani_id uuid NOT NULL,
    komoditas_id uuid NOT NULL,
    volume_kg integer NOT NULL,
    tanggal_siap date NOT NULL,
    lat_tujuan double precision NOT NULL,
    lng_tujuan double precision NOT NULL,
    alamat_tujuan text NOT NULL,
    slot_id uuid,
    partisipasi_id uuid,
    dibuat_pada timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: komoditas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.komoditas (
    id uuid NOT NULL,
    nama text NOT NULL,
    satuan text DEFAULT 'kg'::text NOT NULL,
    harga_acuan_per_kg integer NOT NULL,
    umur_simpan_jam integer NOT NULL,
    laju_susut_per_jam numeric(6,5) NOT NULL,
    status_sumber public.status_sumber NOT NULL,
    catatan_sumber text,
    q10 numeric(4,2) DEFAULT 2.0 NOT NULL,
    suhu_acuan_c numeric(4,1) DEFAULT '25'::numeric NOT NULL
);


--
-- Name: konfigurasi; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.konfigurasi (
    kunci text NOT NULL,
    nilai text NOT NULL,
    tipe public.tipe_konfigurasi NOT NULL,
    label text NOT NULL,
    satuan text,
    status_sumber public.status_sumber NOT NULL,
    catatan_sumber text
);


--
-- Name: lot; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.lot (
    id uuid NOT NULL,
    partisipasi_id uuid NOT NULL,
    kode_qr text NOT NULL,
    penerima_id uuid,
    berat_aktual_kg integer,
    foto_muat text,
    waktu_muat timestamp with time zone,
    catatan_muat text,
    grade_asal integer DEFAULT 5 NOT NULL
);


--
-- Name: partisipasi; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.partisipasi (
    id uuid NOT NULL,
    slot_id uuid NOT NULL,
    petani_id uuid NOT NULL,
    komoditas_id uuid NOT NULL,
    volume_kg integer NOT NULL,
    harga_atap_per_kg integer NOT NULL,
    harga_final_per_kg integer,
    kembalian_rp integer DEFAULT 0 NOT NULL,
    status public.status_partisipasi NOT NULL,
    bergabung_pada timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: penerima; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.penerima (
    id uuid NOT NULL,
    nama text NOT NULL,
    tipe public.tipe_penerima NOT NULL,
    alamat text NOT NULL,
    lat double precision NOT NULL,
    lng double precision NOT NULL
);


--
-- Name: pengguna; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pengguna (
    id uuid NOT NULL,
    nama text NOT NULL,
    no_hp text NOT NULL,
    pin_hash text NOT NULL,
    peran public.peran_pengguna NOT NULL,
    titik_kumpul_id uuid,
    penerima_id uuid,
    aktif boolean DEFAULT true NOT NULL
);


--
-- Name: pengiriman; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pengiriman (
    id uuid NOT NULL,
    slot_id uuid NOT NULL,
    vendor text NOT NULL,
    vendor_ref text,
    status_vendor text,
    waktu_berangkat timestamp with time zone,
    waktu_tiba timestamp with time zone,
    kuotasi_json jsonb,
    dibuat_pada timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: permintaan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.permintaan (
    id uuid NOT NULL,
    penerima_id uuid NOT NULL,
    komoditas_id uuid NOT NULL,
    volume_kg integer NOT NULL,
    tanggal_dibutuhkan date NOT NULL,
    status public.status_permintaan NOT NULL,
    slot_id uuid,
    volume_terpenuhi_kg integer DEFAULT 0 NOT NULL,
    dibuat_pada timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: serah_terima; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.serah_terima (
    id uuid NOT NULL,
    lot_id uuid NOT NULL,
    penerima_id uuid NOT NULL,
    waktu_bongkar timestamp with time zone NOT NULL,
    foto_bongkar text,
    keputusan public.keputusan_serah_terima NOT NULL,
    persen_potongan integer DEFAULT 0 NOT NULL,
    alasan text,
    durasi_transit_menit integer NOT NULL,
    ambang_transit_menit integer NOT NULL,
    atribusi public.atribusi NOT NULL,
    grade_tiba integer,
    sisa_umur_simpan_persen integer
);


--
-- Name: slot; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.slot (
    id uuid NOT NULL,
    kode text NOT NULL,
    titik_kumpul_id uuid NOT NULL,
    tanggal_kirim date NOT NULL,
    cutoff_at timestamp with time zone NOT NULL,
    status public.status_slot NOT NULL,
    jarak_km numeric(8,2) NOT NULL,
    tier_terpilih_id uuid,
    jumlah_kendaraan integer DEFAULT 1 NOT NULL,
    rencana_json jsonb,
    biaya_total integer,
    harga_final_per_kg integer,
    selisih_jaminan_atap integer DEFAULT 0 NOT NULL,
    volume_terkunci_kg integer DEFAULT 0 NOT NULL,
    dibuat_pada timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: slot_tujuan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.slot_tujuan (
    id uuid NOT NULL,
    slot_id uuid NOT NULL,
    penerima_id uuid NOT NULL,
    urutan integer NOT NULL,
    jarak_segmen_km numeric(8,2) NOT NULL
);


--
-- Name: telemetri; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.telemetri (
    id uuid NOT NULL,
    pengiriman_id uuid NOT NULL,
    waktu timestamp with time zone NOT NULL,
    suhu_c numeric(5,2) NOT NULL,
    kelembapan_persen numeric(5,2) NOT NULL,
    lat double precision,
    lng double precision,
    sumber public.sumber_telemetri NOT NULL
);


--
-- Name: tier_kendaraan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tier_kendaraan (
    id uuid NOT NULL,
    kode text NOT NULL,
    nama text NOT NULL,
    kapasitas_kg integer NOT NULL,
    tarif_dasar integer NOT NULL,
    tarif_per_km integer NOT NULL,
    urutan integer NOT NULL,
    aktif boolean DEFAULT true NOT NULL,
    status_sumber public.status_sumber NOT NULL,
    catatan_sumber text
);


--
-- Name: titik_kumpul; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.titik_kumpul (
    id uuid NOT NULL,
    nama text NOT NULL,
    kode text,
    desa text,
    kecamatan text,
    kabupaten text,
    alamat text NOT NULL,
    lat double precision NOT NULL,
    lng double precision NOT NULL,
    dibuat_pada timestamp with time zone DEFAULT now() NOT NULL,
    tipe public.tipe_titik_kumpul DEFAULT 'PETANI_UTAMA'::public.tipe_titik_kumpul NOT NULL,
    petugas_id uuid
);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: jejak_posisi jejak_posisi_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jejak_posisi
    ADD CONSTRAINT jejak_posisi_pkey PRIMARY KEY (id);


--
-- Name: kiriman kiriman_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kiriman
    ADD CONSTRAINT kiriman_pkey PRIMARY KEY (id);


--
-- Name: komoditas komoditas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.komoditas
    ADD CONSTRAINT komoditas_pkey PRIMARY KEY (id);


--
-- Name: konfigurasi konfigurasi_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.konfigurasi
    ADD CONSTRAINT konfigurasi_pkey PRIMARY KEY (kunci);


--
-- Name: titik_kumpul koperasi_kode_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.titik_kumpul
    ADD CONSTRAINT koperasi_kode_key UNIQUE (kode);


--
-- Name: titik_kumpul koperasi_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.titik_kumpul
    ADD CONSTRAINT koperasi_pkey PRIMARY KEY (id);


--
-- Name: lot lot_kode_qr_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lot
    ADD CONSTRAINT lot_kode_qr_key UNIQUE (kode_qr);


--
-- Name: lot lot_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lot
    ADD CONSTRAINT lot_pkey PRIMARY KEY (id);


--
-- Name: partisipasi partisipasi_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.partisipasi
    ADD CONSTRAINT partisipasi_pkey PRIMARY KEY (id);


--
-- Name: partisipasi partisipasi_slot_id_petani_id_komoditas_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.partisipasi
    ADD CONSTRAINT partisipasi_slot_id_petani_id_komoditas_id_key UNIQUE (slot_id, petani_id, komoditas_id);


--
-- Name: penerima penerima_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.penerima
    ADD CONSTRAINT penerima_pkey PRIMARY KEY (id);


--
-- Name: pengguna pengguna_no_hp_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pengguna
    ADD CONSTRAINT pengguna_no_hp_key UNIQUE (no_hp);


--
-- Name: pengguna pengguna_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pengguna
    ADD CONSTRAINT pengguna_pkey PRIMARY KEY (id);


--
-- Name: pengiriman pengiriman_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pengiriman
    ADD CONSTRAINT pengiriman_pkey PRIMARY KEY (id);


--
-- Name: pengiriman pengiriman_slot_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pengiriman
    ADD CONSTRAINT pengiriman_slot_id_key UNIQUE (slot_id);


--
-- Name: permintaan permintaan_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permintaan
    ADD CONSTRAINT permintaan_pkey PRIMARY KEY (id);


--
-- Name: serah_terima serah_terima_lot_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.serah_terima
    ADD CONSTRAINT serah_terima_lot_id_key UNIQUE (lot_id);


--
-- Name: serah_terima serah_terima_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.serah_terima
    ADD CONSTRAINT serah_terima_pkey PRIMARY KEY (id);


--
-- Name: slot slot_kode_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slot
    ADD CONSTRAINT slot_kode_key UNIQUE (kode);


--
-- Name: slot slot_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slot
    ADD CONSTRAINT slot_pkey PRIMARY KEY (id);


--
-- Name: slot_tujuan slot_tujuan_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slot_tujuan
    ADD CONSTRAINT slot_tujuan_pkey PRIMARY KEY (id);


--
-- Name: slot_tujuan slot_tujuan_slot_id_urutan_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slot_tujuan
    ADD CONSTRAINT slot_tujuan_slot_id_urutan_key UNIQUE (slot_id, urutan);


--
-- Name: telemetri telemetri_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.telemetri
    ADD CONSTRAINT telemetri_pkey PRIMARY KEY (id);


--
-- Name: tier_kendaraan tier_kendaraan_kode_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tier_kendaraan
    ADD CONSTRAINT tier_kendaraan_kode_key UNIQUE (kode);


--
-- Name: tier_kendaraan tier_kendaraan_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tier_kendaraan
    ADD CONSTRAINT tier_kendaraan_pkey PRIMARY KEY (id);


--
-- Name: jejak_posisi jejak_posisi_pengiriman_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jejak_posisi
    ADD CONSTRAINT jejak_posisi_pengiriman_id_fkey FOREIGN KEY (pengiriman_id) REFERENCES public.pengiriman(id);


--
-- Name: kiriman kiriman_komoditas_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kiriman
    ADD CONSTRAINT kiriman_komoditas_id_fkey FOREIGN KEY (komoditas_id) REFERENCES public.komoditas(id);


--
-- Name: kiriman kiriman_partisipasi_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kiriman
    ADD CONSTRAINT kiriman_partisipasi_id_fkey FOREIGN KEY (partisipasi_id) REFERENCES public.partisipasi(id);


--
-- Name: kiriman kiriman_petani_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kiriman
    ADD CONSTRAINT kiriman_petani_id_fkey FOREIGN KEY (petani_id) REFERENCES public.pengguna(id);


--
-- Name: kiriman kiriman_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kiriman
    ADD CONSTRAINT kiriman_slot_id_fkey FOREIGN KEY (slot_id) REFERENCES public.slot(id);


--
-- Name: lot lot_partisipasi_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lot
    ADD CONSTRAINT lot_partisipasi_id_fkey FOREIGN KEY (partisipasi_id) REFERENCES public.partisipasi(id);


--
-- Name: lot lot_penerima_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lot
    ADD CONSTRAINT lot_penerima_id_fkey FOREIGN KEY (penerima_id) REFERENCES public.penerima(id);


--
-- Name: partisipasi partisipasi_komoditas_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.partisipasi
    ADD CONSTRAINT partisipasi_komoditas_id_fkey FOREIGN KEY (komoditas_id) REFERENCES public.komoditas(id);


--
-- Name: partisipasi partisipasi_petani_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.partisipasi
    ADD CONSTRAINT partisipasi_petani_id_fkey FOREIGN KEY (petani_id) REFERENCES public.pengguna(id);


--
-- Name: partisipasi partisipasi_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.partisipasi
    ADD CONSTRAINT partisipasi_slot_id_fkey FOREIGN KEY (slot_id) REFERENCES public.slot(id);


--
-- Name: pengguna pengguna_koperasi_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pengguna
    ADD CONSTRAINT pengguna_koperasi_id_fkey FOREIGN KEY (titik_kumpul_id) REFERENCES public.titik_kumpul(id);


--
-- Name: pengguna pengguna_penerima_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pengguna
    ADD CONSTRAINT pengguna_penerima_id_fkey FOREIGN KEY (penerima_id) REFERENCES public.penerima(id);


--
-- Name: pengiriman pengiriman_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pengiriman
    ADD CONSTRAINT pengiriman_slot_id_fkey FOREIGN KEY (slot_id) REFERENCES public.slot(id);


--
-- Name: permintaan permintaan_komoditas_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permintaan
    ADD CONSTRAINT permintaan_komoditas_id_fkey FOREIGN KEY (komoditas_id) REFERENCES public.komoditas(id);


--
-- Name: permintaan permintaan_penerima_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permintaan
    ADD CONSTRAINT permintaan_penerima_id_fkey FOREIGN KEY (penerima_id) REFERENCES public.penerima(id);


--
-- Name: permintaan permintaan_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permintaan
    ADD CONSTRAINT permintaan_slot_id_fkey FOREIGN KEY (slot_id) REFERENCES public.slot(id);


--
-- Name: serah_terima serah_terima_lot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.serah_terima
    ADD CONSTRAINT serah_terima_lot_id_fkey FOREIGN KEY (lot_id) REFERENCES public.lot(id);


--
-- Name: serah_terima serah_terima_penerima_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.serah_terima
    ADD CONSTRAINT serah_terima_penerima_id_fkey FOREIGN KEY (penerima_id) REFERENCES public.penerima(id);


--
-- Name: slot slot_koperasi_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slot
    ADD CONSTRAINT slot_koperasi_id_fkey FOREIGN KEY (titik_kumpul_id) REFERENCES public.titik_kumpul(id);


--
-- Name: slot slot_tier_terpilih_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slot
    ADD CONSTRAINT slot_tier_terpilih_id_fkey FOREIGN KEY (tier_terpilih_id) REFERENCES public.tier_kendaraan(id);


--
-- Name: slot_tujuan slot_tujuan_penerima_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slot_tujuan
    ADD CONSTRAINT slot_tujuan_penerima_id_fkey FOREIGN KEY (penerima_id) REFERENCES public.penerima(id);


--
-- Name: slot_tujuan slot_tujuan_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slot_tujuan
    ADD CONSTRAINT slot_tujuan_slot_id_fkey FOREIGN KEY (slot_id) REFERENCES public.slot(id);


--
-- Name: telemetri telemetri_pengiriman_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.telemetri
    ADD CONSTRAINT telemetri_pengiriman_id_fkey FOREIGN KEY (pengiriman_id) REFERENCES public.pengiriman(id);


--
-- Name: titik_kumpul titik_kumpul_petugas_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.titik_kumpul
    ADD CONSTRAINT titik_kumpul_petugas_id_fkey FOREIGN KEY (petugas_id) REFERENCES public.pengguna(id);


--
-- PostgreSQL database dump complete
--

\unrestrict oXwe7iHGsWTpIh3Je7016RcadRRZS35TlWmDxDcbKX6aawbmrDMcdcxTIvasYge

